<h1>New Calculation</h1>

<%= form_with(url: '/calculation', method: "get") do %>
  <%= label_tag(:height, "Height:") %>
  <%= number_field(:calculation, :height) %>

  <%= label_tag(:width, "Width:") %>
  <%= number_field(:calculation, :width) %>

  <%= submit_tag("Calculate") %>
<% end %>
